body {
  margin: 0;
  padding: 0;
  background: #fcfcfc;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  /* Fix for preserving font sizes on iPhones (at least) */
   -webkit-text-size-adjust: 100%;
}



#canvas-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  overflow: hidden;
}

#canvas-mask .handle {
  width: 1985vh;
  height: 100vh;

  border-radius: 0;
  background: url('images/pano.svg') no-repeat center center;
}

#canvas-mask .handle .page {
  float: left;
  position: relative;
  width: 10%;
  height: 50%;
}

#canvas-mask .handle .page .menu {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0;
  padding: 10px 15px;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  color: #666;
  cursor: default;
  color: #999;
  text-decoration: none;
  font-family: NarkisBlock;
  font-size:1.2em;
}

#floating-menu {
  display: none;
  position: fixed;
  z-index: 1;
  bottom: 15px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  margin: 0;
  padding: 10px 15px;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  color: #666;
  cursor: default;
  color: #999;
  text-decoration: none;
  font-family: NarkisBlock;
  font-size:1.2em;
}

#floating-menu .chosen {
	color:blue;
}

#canvas-mask .handle .page .menu a, #floating-menu a {
  color: #fff;
  text-decoration: none;
  font-family: NarkisBlock;
  font-size:1.1em;
}

#canvas-mask .handle .page .menu a:hover, #floating-menu a:hover {
  text-decoration: underline;
}

#canvas-mask .handle .page .body {

  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  left: 225px;
  margin: 0;
  padding: 10px 15px;
  background: #fff;
  background: rgba(255, 255, 255, 0);
  color: #000;
  color: rgba(0, 0, 0, 0.75);
  line-height: 40px;
  font-family: NarkisBlock;
}

#canvas-mask .handle .page .body strong{
	font-size: 1.5em;
	color: white;
	font-family: NarkisBlockBold;
}

@font-face {
    font-family: NarkisBlock;
    src: url(fonts/NarkisBlock-Regular.otf);
}

@font-face {
    font-family: NarkisBlockBold;
    src: url(fonts/NarkisBlock-Bold.otf);
}


#canvas-mask .handle .page .body a{
	font-family: NarkisBlock;
	display: block;
	color:rgba(255,255,255,0.2);
	margin-bottom:5px;
	font-size: 1.3em;
	text-decoration: none;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

#canvas-mask .handle .page .body .chosen{
	color:white;
}

#canvas-mask .handle .page .body a:hover{
	text-decoration: underline;
}

#category-none {
	width:16.5%;
	
}


#category-documents {
	width:14.5%;
}

#category-general {
	width:16.5%;
}

#category-hygene {
	width:10.6%;
}

#category-clothes {
	width:13.5%;
}

#category-trekking {
	
}

#category-other {
	
}
